/* Home.css */
.card-over-image {
  z-index: 1;
  height: 440px;
  width: 340px;
  background: #fff;
}


.card-grid {
  margin-left: 5%;
  width: 90%;
  position: absolute;
  top: 450px;
  justify-content: space-between;
  display: flex;
}