.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px; /* Adjust gap between cards as needed */
    margin-left: 50px;
}

.card-title {
    margin-bottom: 20px;
}

.cardImageContainer {
    display: flex;
    justify-content: space-around;
}

.cardImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.card-img {
    width: 150px;
}

.card-img-des {
    font-size: 11px;
}
