.card-container {
    height: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust gap between cards as needed */
}

.card-title {
    margin-bottom: 20px;
}

.cardImageContainer {
    display: flex;
    justify-content: space-between;
}

.cardImage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.card-img {
    width: 150px;
}

.card-img-des {
    font-size: 11px;
}
