.login__container>form>input[type='text']::placeholder,
.login__container>form>input[type='password']::placeholder,
.login__container .mobileNo input[type='tel']::placeholder,
.login__container .mobileNo input[type='text']::placeholder {
    color: rgb(144, 143, 143) !important;
}

.login__container>form>input[type='text'],
.login__container>form>input[type='password'],
.login__container .mobileNo input[type='tel'],
.login__container .mobileNo input[type='text'] {
    cursor: text !important;
    caret-color: black !important;
    color: black !important;
    padding-left: 7px;
}

.blueText {
    color: rgb(0, 113, 113);
}

.mobileNo {
    display: flex;
    margin-top: -12px;
}

.cc {
    width: 20% !important;
    margin-right: 8px;
}

.new {
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: grey;
}

.hr1 {
    margin: 0px 5px;
    border-top: 1px;
    border-color: rgb(216, 215, 215) !important;
    border-style: solid;
    width: 85px;
}