/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(19, 25, 33);
  color: white;
  height: 60px;
}

.left {
  width: 100px;
  display: flex;
}

.navbar__deliver-to {
  margin-left: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 10px;

  span {
    display: flex;

    div {
      width: 25px;
    }

    span {
      width: 63px !important;
      font-size: 12px;
      color: rgb(204, 204, 204);
    }
  }

  div {
    margin-top: -5px;
    display: flex;
    font-size: 12px;
    align-items: center;

    span {
      font-size: 14px;
    }
  }
}

.navbar__deliver-to-country {

  font-weight: bold;
  margin-left: 2px;
}

.box {
  display: flex;
  background-color: rgb(230, 230, 230);
  color: rgb(15, 17, 17);
  border-radius: 5px 0px 0px 5px;
  align-items: center;
  font-size: 14px !important;
  padding: 5px;

  span {
    color: rgb(54, 54, 54);
  }
}

.navbar__logo img {
  height: 40px;


}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;

  div {
    span {
      color: white;
      font-size: 14px;
    }
  }
}

.navbar__search input {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.952);
  border: none;
  width: 900px;
}

.navbar__search {
  display: flex;
  justify-content: flex-start;
}

.navbar__search .searchbox {
  height: 40px !;
  border-radius: 0px 5px 5px 0px;
  padding: 5px 8px;
  background-color: #febd69;
  color: black;
  border: none;
  cursor: pointer;
  margin: auto;
}


.navbar__search button:hover {
  background-color: black;
}

.di{
  color: rgb(204, 204, 204);
  bottom: o;
}

.lang {

  span{
    font-size: 17px !important;
    font-weight: bold;
    margin-left: 6px;
    margin-right: -6px;
    color: white !important;
  }

  img {
    width: 20px;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0;

  span {
    font-size: 12px;
    color: rgb(204, 204, 204);
  }
}