/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #232f3e;
    color: white;
  }

  .navbar__deliver-to {
    flex: 1;
    font-size: 14px;
    margin-right: 10px;
    
    
  }
  
  .navbar__deliver-to-country {
   
    display: block;
    font-weight: bold;
    margin-left: 5px;
  }
  
  
  .navbar__logo img {
    height: 40px;
    
    
  }
  
  .navbar__links a {
    
    
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .navbar__search input {
    padding: 5px;
    
    margin-right: 10px;
    
    width: 200%;
    
  }
  
  .navbar__search .searchbox {
    padding: 5px 5px;
    flex: 1;
    
    background-color: #febd69;
    color: black;
    border: none;
    cursor: pointer;
    width: 10%;
    
  }

  
  .navbar__search button:hover {
    background-color: black;
  }


  .lang {

    position: relative;
    display: flex;
  }