/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #232f3e;
    color: white;
  }
  
  .navbar__logo img {
    height: 50px;
  }
  
  .navbar__links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .navbar__search input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .navbar__search button {
    padding: 5px 10px;
    background-color: #febd69;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .navbar__search button:hover {
    background-color: #ff9900;
  }
  