.FooterContainer {
    .topFooter {
        height: 50px;
        background-color: rgb(44, 60, 80);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
    }

    .footer {
        background-color: rgb(35, 47, 62);
        height: 439px;

        .footer-titles-container {
            margin: auto;
            width: 50%;
            display: flex;
            justify-content: space-around;
            height: 75%;

            .titles{
                display: flex;
                flex-direction: column;

                h3{
                    margin-bottom: 0px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 37px;
                }
                div{
                    font-size: 13px;
                    margin-top: 8px;
                    cursor: pointer;
                }
                div:hover{
                    text-decoration: underline;
                }
            }
        }

        hr {
            border-color: grey;
            border-top: 1px;
            opacity: 0.8;
        }
    }
}
