.FooterContainer{

    margin-top: 500px;

    .topFooter{
        height: 50px;
        background-color: rgb(44, 60, 80);
    }

    .footer{
        background-color: rgb(35, 47, 62);
        height: 439px;
    }
}