.price {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    height: 400px;
    width: 220px;

    .withExchange {
        display: flex;
        background: rgb(241, 241, 241);
        border-radius: 10px 10px 0px 0px;
        justify-content: space-between;
        padding: 10px;
    }

    .withoutExchange {
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .leftText {
        margin-left: 3px;
        font-size: 12px;

        div {
            font-weight: bold;
        }

        span {
            color: rgb(177, 39, 4);

            span {
                color: black;
                text-decoration: line-through;
            }
        }
    }

    .right-select {
        height: 15px;
        width: 15px;
        margin-top: 10px;
    }

    .withoutExchange-content {
        padding: 10px;

        .free-delivery {
            padding-right: 40px;
            color: rgb(0, 113, 113);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;

            span {
                color: black;
                font-weight: bold;
            }
        }

        .fastest-delivery {
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;

            .today {
                color: black;
                font-weight: bold;
            }

            .time {
                color: #007600;
            }

            span {
                color: rgb(0, 113, 113);
            }
        }

        .locationicon {
            margin-top: 10px;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
        }

        .location-icon {
            font-size: 18px;
        }

        .update-location {
            font-size: 12px;
            color: rgb(0, 113, 113);
        }

        .instock {
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: #007600;
            font-size: 18px;
        }

        .company{
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            color: rgb(67, 67, 67);
            span{
                margin-left: 40px;
                color: black;
            }
        }

        .owner{
            font-size: 10px;
            color: rgb(67, 67, 67);
            font-family: Arial, Helvetica, sans-serif;
            span{
                margin-left: 54px;
                color: rgb(0, 113, 113);
            }
        }
    }
}